
 @media (max-width:991px){
 
     #landingnav{
         display: flex;
         justify-content: center;
   
     }

     
     #cards-holder{
         display: flex;
         flex-direction: column;
         align-items: center;
         
     }

     #formContainer{
        display: flex;
        justify-content: center;
        align-items: center;
    }

     #pform input {
        font-size: 13px;
        width: 100%;
        
    
    }

     #cardrespo{
         width: 100%;
     }
 
     .col-md-4{
        width:100%;
    
    }

    .star{
        width: 100%;
        background-color: blue;
    }

    #starcontainer{
        display: none;
    }
    .starbox{
        height: 48vh;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .starbox p{
        box-shadow: 0px 8px 30px 0px rgba(153, 153, 153, 0.1);
    }

    footer{
        margin-top: 700px;
    }
    
     
    }